*::before,
*::after {
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;  
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;

    --bg-color: #0F172A;
    --stroke-color: #1E293B;

    --text-color-primary: #F1F5Ff;
    --text-color-secondary: #CBD5E1;

    --ff-archivo: "Archivo", serif;
}

body, html {
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color-primary);
}

h1 {font: 800 1.5rem/1.35 var(--ff-archivo);}

h2 {font: 800 1rem/1.40 var(--ff-archivo);}

h3 {font: 800 .875rem/1.40 var(--ff-archivo);}

span { font: 600 .875rem/1.45 var(--ff-archivo);}

p { font: 400 .875rem/1.45 var(--ff-archivo);}

.tag {
    display: inline-block;

    background-color: var(--brand-color-dark);
    color: #FFF;

    padding: .25rem;
    border-radius: 4px;
}

a {
    text-decoration: none;
    font: 400 .875rem/1.45 var(--ff-archivo);
    color: inherit;
}

img {
    max-width: 100%;
}

.container {
    --max-width: 375px;
    width: min(var(--max-width), 100% - 2rem * 2);
    margin-inline: auto;
}

@media (width >= 80em) {
    .container {
        --max-width: 80em;
    }
}