main {
    display: grid;
    margin-top: 2.5rem;
}

.card {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        inset: 0;

        background: linear-gradient(
            180deg,
            transparent 0%,
            #020617 100%
        );
    }

    figcaption {
        position: absolute;
        bottom: 0;

        padding: 1.5rem;

        & span {
            margin-bottom: 4px;
        }
    }
}


@media (width >= 80em) {

    #featured {
        grid-area: featured;
    }

    #weekly {
        grid-area: weekly;
    }

    #ai {
        grid-area: ai;

        & img {
            width: 176px;
            height: 176px !important;
        }
    }

    aside {
        grid-area: aside;

        & .banner {
            max-width: 100%;
            width: 488px;
            height: 280px;
            object-fit: cover;
        }
    }


    main {
        margin-block: 2.5px;
        row-gap: 5rem;
        column-gap: 2rem;

        grid-template-columns: 2fr 1.4fr;

        grid-template-areas: 
        "featured featured"
        "weekly weekly"
        "ai aside";
    }
}