.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-type {
    grid-auto-flow: row;
}

.grid-type-col {
    grid-auto-flow: column;
}

.grid-col-2 {
    grid-template-columns: 1fr;
}

.align-center {
    text-align: center;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: inline-block;
}


.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

@media (width >= 80em) {
    .desktop-only {
        display: inline-block;
    }

    .mobile-only {
        display: none;
    }

    .grid-type {
        grid-auto-flow: column;
    }
    
    .grid-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid-4-rols {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}